<body>
  <div class="wrapper">
    <div class="page-container">
      <h1 class="section-title">Створити погодинну консультацію</h1>

      <form (ngSubmit)="onSubmit()" class="glass-form">
        <div class="form-group">
          <label for="date">
            <i class="fas fa-calendar-alt"></i> Оберіть дату:
          </label>
          <input
            type="date"
            id="date"
            [(ngModel)]="selectedDate"
            name="date"
            required
          />
        </div>

        <!-- Кнопки вибору часу -->
        <div class="form-group">
          <label><i class="fas fa-clock"></i> Оберіть час:</label>
          <div class="time-buttons">
            <button
              type="button"
              *ngFor="let slot of timeSlots"
              (click)="selectTimeSlot(slot.value)"
              class="time-slot-button"
            >
              {{ slot.label }}
            </button>
          </div>
        </div>

        <!-- Вибір точного часу -->
        <div *ngIf="availableTimes.length > 0" class="form-group">
          <label><i class="fas fa-clock"></i> Оберіть точний час:</label>
          <div class="time-buttons">
            <label *ngFor="let time of availableTimes">
              <input
                type="radio"
                name="timeSlot"
                [value]="time"
                [(ngModel)]="selectedTimeSlot"
                class="time-radio-button"
              />
              {{ time }}
            </label>
          </div>
        </div>

        <!-- У формі для створення слоту -->
        <div class="form-group">
          <label for="tonCount">Кількість тонів:</label>
          <input
            type="number"
            id="tonCount"
            [(ngModel)]="timeSlotData.tonCount"
            name="tonCount"
            min="1"
            required
          />
        </div>
        <!-- Кнопка підтвердження -->
        <button type="submit" class="ton-connect-button">
          <i class="fas fa-plus-circle"></i> Створити
        </button>

        <!-- Успішне повідомлення -->
        <div *ngIf="message" class="alert-success">
          <i class="fas fa-check-circle"></i> {{ message }}
        </div>
      </form>
    </div>
  </div>

  <!-- Нижня навігація -->
  <div class="bottom-nav">
    <button (click)="button1Action()">
      <i class="fas fa-search"></i><span>Пошук</span>
    </button>
    <button (click)="button2Action()">
      <i class="fas fa-calendar-alt"></i><span>Забронювати</span>
    </button>
    <button (click)="button3Action()">
      <i class="fas fa-cog"></i><span>Запис</span>
    </button>
    <button (click)="navigateToUserPage()">
      <i class="fas fa-user"></i><span>Профіль</span>
    </button>
  </div>
</body>
