body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(34, 87, 137, 0.8); /* Темно-синій з прозорістю */
}
.message-box {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #d4edda; /* Light green background */
  color: #155724; /* Dark green text */
  text-align: center;
}
.add-timeslot-container {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  position: relative;
  padding: 5%;
  height:30em;
  
  border-radius: 0px;
  margin: 0;
  color: #fff;
  padding-bottom: 70%;
}

.add-timeslot-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../../../lion.png') no-repeat center center fixed; /* Background image from the specified folder */
  background-size: cover;
  opacity: 0.2; /* Make the image semi-transparent */
  z-index: -1; /* Place it behind the content */
}

/* Основний стиль */
.add-timeslot-container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(34, 87, 137, 0.8); /* Темно-синій з прозорістю */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff; /* White text */
}

.add-timeslot-container h2 {
  margin-bottom: 25px;
  text-align: center;
  color: #fff; /* White text */
}

.add-timeslot-container form {
  display: flex;
  flex-direction: column;
}

.add-timeslot-container .form-group {
  margin-bottom: 15px;
}

.add-timeslot-container form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #fff; /* White text */
}

.add-timeslot-container form input[type="text"],
.add-timeslot-container form input[type="date"],
.add-timeslot-container form input[type="checkbox"] {
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.add-timeslot-container form input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

.add-timeslot-container button {
  padding: 12px;
  font-size: 14px;
  background-color: #00aaff; /* Light blue button */
  color: white; /* White text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.add-timeslot-container button:hover {
  background-color: #0088cc; /* Darker blue on hover */
}

.add-timeslot-container .submit-button {
  background-color: #00aaff; /* Light blue for submit button */
  margin-top: 20px;
}

.add-timeslot-container .submit-button:hover {
  background-color: #0088cc; /* Darker blue on hover */
}

.button-container1 {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 97%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Темне напівпрозоре фонове забарвлення */
}

.button-container1 button {
  flex: 1;
  margin: 5px;
  padding: 10px 0;
  font-size: 18px;
  background-color: #00aaff; /* Акцентний колір, світло-блакитний */
  color: white;
  border: none;
  border-radius: 5px; /* Додаємо округлення кнопок */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легкий тіньовий ефект */
}

.button-container1 button i {
  margin-right: 8px;
}

.button-container1 button:hover {
  background-color: #0088cc; /* Трохи темніший відтінок для hover */
}

@media (max-width: 768px) {
  .add-timeslot-container {
    padding: 2%;
    padding-bottom: 70%;
  }

  .add-timeslot-container h2 {
    font-size: 1.6em;
  }

  .add-timeslot-container p {
    font-size: 1em;
  }

  .button-container1 button {
    font-size: 18px;
    padding: 17px 0;
  }

  .light-blue-button {
    padding: 10px 22px; /* Further adjust padding for smaller screens */
    font-size: 12px; /* Further adjust font size for smaller screens */
  }

  .input-text {
    width: 95%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #171616;
    border-radius: 5px;
    font-size: 1.1em;
    background-color: rgb(186, 224, 253);
  }
}
