.connect-button {
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  background: #0088cc;
  color: white;
  border: none;
  border-radius: 8px;
  text-align: center;
  line-height: 1.4;
}

.connect-button small {
  font-weight: 300;
  font-size: 12px;
  display: block;
  margin-top: 4px;
  opacity: 0.8;
}