<div class="page-container">

 

  <div *ngIf="userData" class="user-data">

  <div class="wallet-container">
    <div *ngIf="isWalletConnected; else showConnectButton" class="wallet-info">
      <p><strong>Wallet connected</strong> {{ walletAddress }}</p>
    </div>
    <ng-template #showConnectButton>
      <button (click)="connectWallet()">Connect your wallet</button>
    </ng-template>
  </div>

    <h1>User data:</h1>
    <p><strong>Name:</strong> {{ userData.firstName }} {{ userData.lastName }}</p>
    <p><strong>Email:</strong> {{ userData.email }}</p>
    <p><strong>Nickname:</strong> {{ userData.teacherNickname }}</p>
    <p><strong>Description:</strong> {{ userData.description }}</p>
    <p><strong>Tegs:</strong> {{ userData.tags }}</p>
    <p *ngIf="userData.isTeacher">
      <strong>Rating:</strong>
      <span [innerHTML]="getLionEmojis(userData.rating)"></span>
    </p>
    <p><strong>Expert:</strong> {{ userData.isTeacher ? 'Так' : 'Ні' }}</p>
  </div>

  <div *ngIf="!userData" class="no-user-data">
    <p>no data user.</p>
  </div>

  <form [formGroup]="userForm" class="glass-form">
    <div>
      <label>
        <input type="checkbox" formControlName="isTeacher" (change)="submitUser()" /> You is expert?
      </label>
    </div>
    <div class="button-group">
      <button type="button" class="add-timeslot-button" (click)="navigateToAddTimeslotPage()">
        <i class="fas fa-plus-circle"></i> Add time slot
      </button>
      <button type="button" class="view-timeslots-button" (click)="navigateToViewTimeslots()">
        <i class="fas fa-calendar-alt"></i> View created time slots
      </button>
      <button type="button" class="view-bookings-button" (click)="navigateToViewBookings()">
        <i class="fas fa-book"></i> View bookings
      </button>

      <button type="button" class="view-timeslots-button" (click)="navigateToViewTimeslot1()">
        <i class="fas fa-calendar-alt"></i> Booking time slots
      </button>

    </div>
    <div class="button-container">
      <button (click)="button1Action()">
        <i class="fas fa-search"></i>🔍
      </button>
      <button (click)="button2Action()">
        <i class="fas fa-info-circle"></i>📅
      </button>
      <button (click)="button3Action()">
        <i class="fas fa-cog"></i> 📖
      </button>
      <button (click)="navigateToUserPage()">
        <i class="fas fa-user"></i> 👤
      </button>
    </div>
  </form>
</div>
