<div class="page-container">
  <button class="back-button" (click)="navigateToUserPage()">Назад</button>
  <div *ngIf="!userData" class="no-user-data">
    <p>No DATA.</p>
  </div>
  <div class="user-container">
    <br>
    <h2>Wait confirmed</h2>
    <ul *ngIf="timeSlots.length > 0" class="timeslot-list">
      <ng-container *ngFor="let slot of timeSlots">

        
        <li class="timeslot-item" *ngIf="!slot.isAvailable">
          <div *ngIf="slot.userDetails?.firstName; else noData">
            <p><strong>Name:</strong> {{ slot.userDetails.firstName }} {{ slot.userDetails.lastName }}</p>
            <p *ngIf="slot.userDetails?.email"><strong>Email:</strong> {{ slot.userDetails.email }}</p>
          </div>
          <p *ngIf="slot.startTime"><strong>Start time:</strong> {{ slot.startTime }}</p>
          <p *ngIf="slot.endTime"><strong>Finish time:</strong> {{ slot.endTime }}</p>
         <!-- <p><strong>Активний ?:</strong> ні</p>-->
          <p><strong>Статус:</strong> {{ slot.isConfirmed ? 'сonfirmed' : 'Pending' }}</p>
          
          <button 
            class="confirm-button" 
            *ngIf="!slot.isConfirmed" 
            (click)="openConfirmationDialog(slot.id)">
            Confirm book
          </button>

          <button
             class="cancel-book-button"
            *ngIf="!slot.isConfirmed"
            (click)="expertCancel(slot.id)">
  Cancel book
          </button>
          <ng-template #noData>
            <p><strong>No data about userss.</strong></p>
          </ng-template>
        </li>
      </ng-container>
    </ul>
    <div *ngIf="timeSlots.length === 0">
      <p><strong>No timeslot.</strong></p>
    </div>
  </div>
</div>
