<mat-card class="add-timeslot-container">
  <mat-card-title>Add Time Slot</mat-card-title>
  <!-- Display the active user's userId -->
  <p>Active User ID: {{ timeSlotData.userId }}</p>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Select Date</mat-label>
        <input matInput type="date" [(ngModel)]="selectedDate" name="date" required>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label>Select Time Slot:</label>
      <button mat-raised-button color="primary" type="button" (click)="selectTimeSlot('08:00', '12:00')">08:00 - 12:00</button>
      <button mat-raised-button color="primary" type="button" (click)="selectTimeSlot('12:00', '16:00')">12:00 - 16:00</button>
      <button mat-raised-button color="primary" type="button" (click)="selectTimeSlot('16:00', '20:00')">16:00 - 20:00</button>
    </div>
    <div class="form-group" *ngIf="timeIntervals.length > 0">
      <label>Select 30-minute Intervals:</label>
      <div *ngFor="let interval of timeIntervals">
        <mat-checkbox [value]="interval" (change)="toggleIntervalSelection(interval)">
          {{ interval }}
        </mat-checkbox>
      </div>
    </div>
    <button mat-raised-button color="accent" type="submit" class="submit-button">Add Time Slot</button>
    <div class="button-container">
      <meta charset="UTF-8">
      <button (click)="button1Action()">
        <i class="fas fa-search"></i>🔍
      </button>
      <button (click)="button2Action()">
        <i class="fas fa-info-circle"></i>📅 
      </button>
      <button (click)="button3Action()">
        <i class="fas fa-cog"></i> 📖 
      </button>
      <button (click)="navigateToUserPage()">
        <i class="fas fa-user"></i> 👤 
      </button>
    </div>
  
  </form>
</mat-card>
