<div class="add-timeslot-container">
  <h2>Create time slot</h2> <br>
  <!-- Display the active user's userId -->
  <!-- <p>Active User ID: {{ timeSlotData.userId }}</p> -->
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="date">Choose date </label>
      <input type="date" id="date" [(ngModel)]="selectedDate" name="date" required>
    </div>
    <br>
    <div class="form-group">
      <label>Choose time </label>
      <button type="button" (click)="selectTimeSlot('08:00', '12:00')">08:00 - 12:00</button>
      <button type="button" (click)="selectTimeSlot('12:00', '16:00')">12:00 - 16:00</button>
      <button type="button" (click)="selectTimeSlot('16:00', '20:00')">16:00 - 20:00</button>
    </div>
    <div class="form-group" *ngIf="timeIntervals.length > 0">
      <label>Choose a 30-minute interval:</label>
      <div *ngFor="let interval of timeIntervals">
        <input type="checkbox" [value]="interval" (change)="toggleIntervalSelection(interval)">
        {{ interval }}
      </div>
    </div>
    <button type="submit" class="submit-button">Create</button>

    <div *ngIf="message" class="message-box">{{ message }}</div>
    <div class="button-container1">
      <meta charset="UTF-8">
      <button (click)="button1Action()">
        <i class="fas fa-search"></i>🔍
      </button>
      <button (click)="button2Action()">
        <i class="fas fa-info-circle"></i>📅 
      </button>
      <button (click)="button3Action()">
        <i class="fas fa-cog"></i> 📖 
      </button>
      <button (click)="navigateToUserPage()">
        <i class="fas fa-user"></i> 👤 
      </button>
    </div>
  </form>
</div>
