<div class="register-container">
  <h2>Реєстрація</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="firstName">Ім'я</label>
      <input id="firstName" formControlName="firstName" type="text" required />
    </div>

    <div class="form-group">
      <label for="lastName">Прізвище</label>
      <input id="lastName" formControlName="lastName" type="text" required />
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" required />
    </div>

    <div class="form-group">
      <label for="telegramChatId">telegramChatId</label>
      <input id="telegramChatId" formControlName="telegramChatId" type="telegramChatId" required />
    </div>

    <div class="form-group">
      <label for="description">description</label>
      <input id="description" formControlName="description" type="description" required />
    </div>
    
    <div class="form-group">
      <label for="tags">tags</label>
      <input id="tags" formControlName="tags" type="tags" required />
    </div>

    <button type="submit" [disabled]="loading">Зареєструватися</button>
  </form>
  <div *ngIf="message" class="message">{{ message }}</div>
</div>
