<body>
  <!-- Кнопка Назад -->
  <div class="back-button-fixed">
    <button class="back-button" (click)="navigateToTeacherList()">
      <i class="fas fa-arrow-left"></i> Назад
    </button>
  </div>

  <div class="wrapper">
    <div class="page-container">
      <!-- TON гаманець -->
      <div id="ton-connect-button" style="margin-bottom: 20px"></div>

      <h2 class="section-title">
        {{ teacher.firstName }} {{ teacher.lastName }}
      </h2>

      <div class="teacher-details-content">
        <p><strong>Email:</strong> {{ teacher.email }}</p>
        <p><strong>Опис:</strong> {{ teacher.description || "—" }}</p>
        <p><strong>Теги:</strong> {{ teacher.tags || "—" }}</p>
      </div>

      <div *ngIf="timeSlots.length > 0">
        <h3 class="sub-title">Слоти часу</h3>
        <ul class="timeslot-list">
          <li *ngFor="let slot of timeSlots" class="timeslot-item">
            <p><strong>Початок:</strong> {{ formatDate(slot.startTime) }}</p>
            <p>
              <strong>Активний:</strong> {{ slot.isAvailable ? "Так" : "Ні" }}
            </p>
            <p><strong>Кількість тон:</strong> {{ slot.tonCount }}</p>
            <!-- Відображаємо кількість тон -->
            <button
              *ngIf="slot.isAvailable"
              class="ton-connect-button"
              (click)="goToBookingPage(slot)"
            >
              Забронювати
            </button>
          </li>
        </ul>
      </div>

      <div *ngIf="timeSlots.length === 0" class="no-user-data">
        <p>Немає доступних слотів.</p>
      </div>

      <div *ngIf="bookings.length > 0">
        <h3 class="sub-title">Бронювання</h3>
        <ul class="timeslot-list">
          <li *ngFor="let booking of bookings" class="timeslot-item">
            <p *ngIf="booking.user">
              <strong>Бронював:</strong> {{ booking.user.firstName }}
              {{ booking.user.lastName }}
            </p>
            <p *ngIf="booking.user">
              <strong>Email:</strong> {{ booking.user.email }}
            </p>
            <p><strong>Статус:</strong> {{ booking.status }}</p>
            <p>
              <strong>Створено:</strong> {{ formatDate(booking.createdAt) }}
            </p>
            <p><strong>Час:</strong> {{ formatDate(booking.endTime) }}</p>
          </li>
        </ul>
      </div>

      <div *ngIf="bookings.length === 0" class="no-user-data">
        <p>Немає бронювань.</p>
      </div>
    </div>
  </div>
</body>
