<body>
  

<div class="teacher-container">
  <h2>All Teachers</h2>
  <div class="search-bar">
    <input class="input-text" type="text" placeholder="Search by First and Last Name" [(ngModel)]="searchName">
    <button class="light-blue-button" (click)="searchTeachers()">Search</button>
  </div>
  <ul *ngIf="teachers.length > 0" class="teacher-list">
    <li *ngFor="let teacher of teachers" class="teacher-item">
      <p><strong>Ім'я:</strong> {{ teacher.firstName }} {{ teacher.lastName }}</p>
      <p><strong>Роль:</strong> {{ teacher.role }}</p>
      <p><strong>Email:</strong> {{ teacher.email }}</p>
      <p><strong>Опис:</strong> {{ teacher.description || 'N/A' }}</p>
      <p><strong>Теги:</strong> {{ teacher.tags || 'N/A' }}</p>
      <button class="light-blue-button" (click)="viewTeacherDetails(teacher.id)">View Details</button>
    </li>
  </ul>
  <div *ngIf="teachers.length === 0">
    <p>Немає даних викладачів.</p>
  </div>

  <div class="button-container">
    <meta charset="UTF-8">
    <button (click)="button1Action()">
      <i class="fas fa-search"></i>🔍
    </button>
    <button (click)="button2Action()">
      <i class="fas fa-info-circle"></i>📅 
    </button>
    <button (click)="button3Action()">
      <i class="fas fa-cog"></i> 📖 
    </button>
    <button (click)="navigateToUserPage()">
      <i class="fas fa-user"></i> 👤 
    </button>
  </div>
</div>
</body>