<body>
  <div class="teacher-details-container">
    <button class="back-button" (click)="navigateToTeacherList()">← Back</button>
    <div class="teacher-details-content">
      <br><br>
      <h2>{{ teacher.firstName }} {{ teacher.lastName }}</h2>
      <!-- <p><strong>Role:</strong> {{ teacher.role }}</p> -->
      <p><strong>Email:</strong> {{ teacher.email }}</p>
      <p><strong>Description:</strong> {{ teacher.description || 'N/A' }}</p>
      <p><strong>Tags:</strong> {{ teacher.tags || 'N/A' }}</p>
      
      <div *ngIf="timeSlots.length > 0">
        <h3>Time slots expert</h3>
        <ul class="timeslot-list">
          <li *ngFor="let slot of timeSlots" class="timeslot-item">
            <p><strong>Start time:</strong> {{ slot.startTime }}</p>
            <p><strong>Finish time:</strong> {{ slot.endTime }}</p>
            <p><strong>Active:</strong> {{ slot.isAvailable }}</p>
            <button *ngIf="slot.isAvailable" class="light-blue-button" (click)="bookTimeSlot(slot)">Book</button>
          </li>
        </ul>
      </div>
      <div *ngIf="timeSlots.length === 0">
        <p>No time slots available.</p>
      </div>

      <div *ngIf="bookings.length > 0">
        <h3>Bookings</h3>
        <ul class="timeslot-list">
          <li *ngFor="let booking of bookings" class="timeslot-item">
            <p *ngIf="booking.user"><strong>Booking -- </strong> {{ booking.user.firstName }} {{ booking.user.lastName }}</p>
            <p *ngIf="booking.user" > <strong>Email: </strong> {{booking.user.email}}</p>
            <p><strong>Status:</strong> {{ booking.status }}</p>
            <p><strong>Time create:</strong> {{ booking.createdAt }}</p>
            <p><strong>Time:</strong> {{ booking.endTime }}</p>
            
          </li>
        </ul>
      </div>
      <div *ngIf="bookings.length === 0">
        <p>No bookings available.</p>
      </div>
    </div>
  </div>
</body>
